<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_eV-IrAEgzZiyFfaW8lKEhD4WEt5F3Jk</string>
	<key>GCM_SENDER_ID</key>
	<string>748378346871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domus.smarthome.domus</string>
	<key>PROJECT_ID</key>
	<string>smart-class-ad023</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-class-ad023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748378346871:ios:09a25e833c0c7acef1fd72</string>
	<key>DATABASE_URL</key>
	<string>https://smart-class-ad023-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>